
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding: 2rem;
    background: var(--azul-degrade);
    color: var(--branco-pagina);
}

.banner__titulo{

    font-weight: 500;
    font-size: 1.5rem;

}

.banner__texto{

    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2rem;

}

.banner__pesquisa{

    background-color: transparent;
    color: var(--branco-pagina);
    border: 1px solid var(--branco-pagina);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 80vw;
}

.banner__pesquisa::placeholder{
    text-align: center;
    color: var(--branco-pagina);
}

